.link,
a {
  text-decoration: none;
  display: block;
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
  font-weight: 400;
}

.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196F3;
  --main-color: #212121;
  --paragraph-color: #757575;
  --technical-color: #188CE8;
  --white-color: #fff;
  --backround-btn: #F5F4FA;
  --section-background: #2F303A;
  --letter-spacing: 0.03em;
  --font-weight-variable: 700;
  --font-weight-middle: 500;
  --font-size-predominate: 14px;
  --container-padding: 15px;
  --container-width: 1200px;
  --container-margin: 0 auto;
  --padding-of-section: 94px;
  --margin-in-section: 30px;
  --social-links-color: #AFB1B8;
  --overlay-cards-color: rgba(33, 150, 243, 0.9);
  --mobile-padding-of-section: 60px;
  --main-bg-color: rgb(255, 184, 202);
  --secondary-bg-color: rgb(255, 245, 246);
  --sec-card-bg-color: rgba(240, 209, 165, 1);
  --third-card-bg-color: rgba(194, 226, 151, 1);
  --mobmenu-bg-color: rgb(225, 121, 146);
  --menu-font-color: rgb(255, 255, 255);
  --secondary-color: rgb(212, 20, 67);
  --desc-font-color: rgb(0, 0, 0);
  --sub-font-color: rgb(144, 126, 130);
  --sup-font-color: rgb(255, 165, 186);
  --btn-hover-color: rgb(199, 19, 62);
  --main-animation: 250ms cubic-bezier(0.5, 0, 0.2, 1);
  --social-link-bg: rgb(254, 165, 187);
  --tech-yellow-color: rgba(211, 144, 50, 1);
  --tech-green-color: rgba(140, 207, 52, 1);
  --recipe-text-color: rgb(150, 20, 91);
  --bg-of-section: rgb(229, 229, 229);
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f8dbba;
}

.logo {
  padding-top: 0;
  margin-bottom: 20px;
  width: 100%;
}

.logo__icon {
  width: 1200px;
}

.code-club-section,
.our-space-section {
  background-color: #f5c084;
  padding-top: 50px;
  padding-bottom: 200px;
}

.team-name {
  font-weight: 900;
  text-shadow: 1px 2px 1px #FA6414;
}

.team-name,
.made {
  display: block;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
  color: #000;
}

.leaders-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 120px;
  margin-top: -45px;
  margin-left: -30px;
}

.leaders-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-top: 50px;
}

.leader-list__position {
  font-weight: 900;
  margin-top: 15px;
}

.leader-list__position,
.name-of-people {
  text-transform: uppercase;
  color: #000;
}

.name-of-people {
  margin-top: 10px;
}

.our-team-list__item:focus,
.our-team__item:focus,
.leaders-list__item:focus,
.our-team-list__item:hover,
.our-team__item:hover,
.leaders-list__item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-team-list__item,
.our-team__item,
.leaders-list__item {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.our-team-list,
.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -55px;
  margin-left: -40px;
  margin-bottom: 50px;
}

.our-team-list__item,
.our-team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 200px;
  height: 200px;
  margin-top: 55px;
  margin-left: 40px;
}

.buttons-list__item--alone {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttons-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 209px;
  height: 44px;
  border-radius: 22px;
  background-color: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: color var(--main-animation), background-color var(--main-animation), -webkit-transform var(--main-animation);
  transition: color var(--main-animation), background-color var(--main-animation), -webkit-transform var(--main-animation);
  transition: transform var(--main-animation), color var(--main-animation), background-color var(--main-animation);
  transition: transform var(--main-animation), color var(--main-animation), background-color var(--main-animation), -webkit-transform var(--main-animation);
}

.buttons-list__item:hover, .buttons-list__item:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #e66c34;
}

.buttons-list__link {
  padding: 12px 65px;
  text-transform: uppercase;
  font-weight: 700;
  color: #e66c34;
}

.buttons-list__item:hover .buttons-list__link,
.buttons-list__item:focus .buttons-list__link {
  color: #000;
}

.our-space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: -30px;
  margin-left: -30px;
}

.our-space__zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-preferred-size: calc(100% / 2 - 30px);
      flex-basis: calc(100% / 2 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.our-space__zoom:hover, .our-space__zoom:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-space__icon {
  -webkit-box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
  width: 400px;
}

.our-massanger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -20px;
  margin-left: -20px;
  margin-bottom: 100px;
}

.our-massanger__label {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 900;
  color: var(--recipe-text-color);
}

.our-massanger__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 280px;
  margin-top: 20px;
  margin-left: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.our-massanger__item:hover, .our-massanger__item:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.our-massanger__icon {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  width: 280px;
}

.my-competence,
.technology-section {
  background-color: #f5c084;
  padding-top: 50px;
  padding-bottom: 100px;
}

.tech-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.we-made,
.name-of-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.we-made__item,
.name-of-section__item,
.section-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 30px;
  margin-top: 50px;
}

.we-made__item,
.section-list__item {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
          box-shadow: -1px 12px 8px 4px rgba(34, 60, 80, 0.2);
  -webkit-transition: -webkit-transform var(--main-animation);
  transition: -webkit-transform var(--main-animation);
  transition: transform var(--main-animation);
  transition: transform var(--main-animation), -webkit-transform var(--main-animation);
}

.we-made__item:hover,
.section-list__item:hover,
.we-made__item:focus,
.section-list__item:focus {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.we-made__item,
.name-of-section__item {
  width: 200px;
  height: 200px;
}

.name-of-section__text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #5c01a7;
}

.section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.section-list__icon--header {
  width: 400px;
  height: 180px;
}

.section-list__icon--products {
  width: 300px;
}

.section-list__icon--about {
  width: 400px;
  height: 180px;
}

.section-list__icon--advantages {
  width: 500px;
  height: 200px;
}

.section-list__icon--gallery {
  width: 500px;
  height: 200px;
}

.section-list__icon--customer-reviews {
  width: 500px;
  height: 200px;
}

.section-list__icon--contacts {
  width: 400px;
}

.section-list__icon--footer {
  width: 500px;
  height: 200px;
}

.technology-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f8dbba;
}

.technology-section__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #e66c34;
}

.technology {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.technology__item:not(:last-child) {
  margin-bottom: 15px;
}

.technology__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
}
/*# sourceMappingURL=main.css.map */