:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    --accent-color: #2196F3; 
    --main-color: #212121;
    --paragraph-color: #757575;
    --technical-color: #188CE8;
    --white-color: #fff;
    --backround-btn: #F5F4FA;
    --section-background: #2F303A;
    --letter-spacing: 0.03em;
    --font-weight-variable: 700;
    --font-weight-middle: 500;
    --font-size-predominate: 14px;
    --container-padding: 15px;
    --container-width: 1200px;
    --container-margin: 0 auto;
    --padding-of-section: 94px;
    --margin-in-section: 30px;
    --social-links-color: #AFB1B8;
    --overlay-cards-color: rgba(33, 150, 243, 0.9);
    --mobile-padding-of-section: 60px;
   
   --main-bg-color: rgb(255, 184, 202);
  --secondary-bg-color: rgb(255, 245, 246);
  --sec-card-bg-color: rgba(240, 209, 165, 1);
  --third-card-bg-color: rgba(194, 226, 151, 1);
  --mobmenu-bg-color: rgb(225, 121, 146);
  --menu-font-color: rgb(255, 255, 255);
  --secondary-color: rgb(212, 20, 67);
  --desc-font-color: rgb(0, 0, 0);
  --sub-font-color: rgb(144, 126, 130);
  --sup-font-color: rgb(255, 165, 186);
  --btn-hover-color: rgb(199, 19, 62);
  --main-animation: 250ms cubic-bezier(0.5, 0, 0.2, 1);
  --social-link-bg: rgb(254, 165, 187);

  --tech-yellow-color: rgba(211, 144, 50, 1);
  --tech-green-color: rgba(140, 207, 52, 1);
  --recipe-text-color: rgb(150, 20, 91);
  --bg-of-section: rgb(229, 229, 229);
}